node_modules
.npm-packages-offline-cache
*.log
src/common/chart/*/lib
src/common/constants/*/lib
src/common/component/*/lib
src/common/chart/*/lib
src/common/dummy/*/lib
src/common/framework/*/lib
src/common/testing/*/lib
src/common/util/*/lib
src/common/style/*/lib
src/common/intl/*/lib
src/dash/core/*/lib
src/dash/onboarding/*/lib
src/dash/intl/*/lib
src/apps/page-proxyanything/lib
src/ninjapanel/core/*/lib
src/apps/dash/htdocs/index.html
src/apps/dash/react/pages/zaraz/modules.d.ts
es
dist
stats-dist
browser
.jest
.vercel
.next
.history/
/test-reports/
.cover
.npmrc
.DS_Store
stats.*.json
src/apps/*/lib
.idea
tags
artifacts/
*tsbuildinfo*

# yarn ignores
package-lock.json
.yarn/install-state.gz
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
